{% extends 'base.html' %}
{% block title %}Customer Registration{% endblock%}
{% block content %}
<style>
    .errorlist{
        color:red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col md-6 mx-auto">
            <h3>Customer Login form</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Login as a customer</button>
                {% if error %}
                <li style="color:red">{{error}}</li>

                {% endif %}


            </form>
            <p> forget Password? <a href="{% url 'ecomapp:passwordchange' %}">Forget password</a></p>
            <p> or dont have account? <a href="{% url 'ecomapp:customerregistration' %}">Register Here</a></p>
        </div>
    </div>
</div>
{% endblock %}