{% extends 'base.html' %}
{% block title %}Customer Forget password{% endblock%}
{% block content %}
<style>
    .errorlist{
        color:red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col md-6 mx-auto">
            <h3>Change password</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                
                
                


            </form>
            <a href="{% url 'ecomapp:passwordchangedone' %}">Change Password</a></p>

             <a href="{% url 'ecomapp:customerlogin' %}">Change Password</a></p>
            
          
        </div>
    </div>
</div>
{% endblock %}